{% extends "p3_frst3/Style.html" %}
{% load staticfiles otree %}

{% block title %}
    <h2 id="bold">Task 2: How do you think others play in this game?</h2>
{% endblock %}

{% block content %}

    {% include Constants.instructions_belief_hiddennumber %}
    <p>
        {% if player.treat == 1 %} <!-- FRST -->
            The <b id="final">final message</b> P1 sent reporting on the <b id="hidden"> hidden number </b> was <b id="bold">{{player.report_1}}</b>.
            What number do you think P1 drew as the <b id="hidden"> hidden number</b> before sending the <b id="final">final message</b>?

        {% else %} <!-- VCTM5 -->

            The message P1 sent to you reporting on the <b id="hidden"> hidden number </b> was <b id="bold">{{player.report_1}}</b>.
            What number do you think P1 drew as the <b id="hidden"> hidden number</b> before sending you his report?
        {% endif %} <!-- -->

        <br>

        {% formfield player.belief1  label="" %}

        <button type="otree-btn-next" class="btn btn-primary btn-md"> Continue </button>
    </p>

{% endblock %}
