{% load otree staticfiles %}
{% load static %}

<div class="card bg-light instructions">
    <div class="card-body">
        <p>
            In this task you can earn <b id="bold">extra money</b> by answering one question. We will ask you to report
            how you think <b id="bold">another participants</b> played in this game you just participated in.

            <br><br>

            You will be asked one question in this task. You will earn <b id="bold">20 cents</b> depending on the accuracy of your answer.
        </p>
    </div>
</div>


