{% extends "two_p2/Style.html" %}
{% load staticfiles otree %}

{% block title %}
    <h2 id="bold">Task 1: Report.</h2>
{% endblock %}

{% block content %}

<div>
    <p>
        The image illustrates the order in which the players send messages reporting on the <b id="hidden"> hidden number </b>.
        <br><br>

        <div class="center">
            {% if player.treat == 6 %} <!-- FRST -->
                    <img width="400" height="150" src="{% static "two_p1/T6_Img_Sequence_FRST_2.png" %}"/>

            {% elif player.treat == 7 %} <!-- NO -->
                    <img width="650" height="150" src="{% static "two_p1/T7_Img_Sequence_NO_2.png" %}"/>

            {% elif player.treat == 8 %} <!-- EXO -->
                    <img width="650" height="150" src="{% static "two_p1/T8_Img_Sequence_EXO_2.png" %}"/>

            {% elif player.treat == 9 %} <!-- ENDO -->
                    <img width="650" height="150" src="{% static "two_p1/T9_Img_Sequence_ENDO_2.png" %}"/>

            {% else %} <!-- VCTM -->
                    <img width="650" height="150" src="{% static "two_p1/T10_Img_Sequence_VCTM_2.png" %}"/>

            {% endif %} <!-- -->
        </div>

        <br>

        You are <b id="large">P2</b>. The number below was the message sent by P1 reporting on the <b id="hidden"> hidden number </b> that was drawn.

        <br>

        <div class="center">
            <b id="big">{{ player.report_1 }}</b>
        </div>
    </p>
</div>
<div>
    {% if player.treat == 8 and player.exo_click == 1 %}

    You have also been selected by chance to see <b id="hidden"> hidden number</b> that P1 drew, which was:


        <div class="center">
            <b id="big">{{ player.rnum }}</b>
        </div>

    {% elif player.treat == 8 and player.exo_click == 0 %}

    You have not been selected by chance to see <b id="hidden"> hidden number</b> that P1 drew.

    {% elif player.treat >= 9 and player.endo_click == 1 %}

    <div class="center">
        The <b id="hidden"> hidden number </b> that P1 drew was:

            <br><br>
                <b id="big">{{ player.rnum }}</b>
    </div>
    {% endif %}
</div>


<div>
    <p>
       {% if player.treat == 7 or player.treat == 8 or player.treat == 9 %} <!-- NO, EXO, ENDO -->
            The objective of the game is to send messages so that P3 would report in the
            <b id="final">final message</b> the <b id="hidden"> hidden number</b> drawn by P1.

            <br><br>

            In the box below, send the <b id="final">final message</b> reporting on the <b id="hidden"> hidden number</b>.
            This message determines the earnings that you and P1 will each receive for this task.

       {% elif player.treat == 10 %} <!-- VCTM -->
            The objective of the game is to send messages so that P3 would report in the
            <b id="final">final message</b> the <b id="hidden"> hidden number</b> drawn by P1.

            <br><br>

            In the box below, send the <b id="final">final message</b> reporting on the <b id="hidden"> hidden number</b>.
            This message determines the earnings that you, P1 and P3 will each receive for this task.

        {% endif %} <!-- -->
    </p>

    <center>
        {% formfield player.report_2 label="" %}

    <button type="otree-btn-next" class="btn btn-danger btn-md"> Send the final message </button>
    </center>
</div>

<div>
    <br><br>
    <center>
        <input type="hidden" value="0" name="inst_show" id="inst_show"/>
        <button type="button" class="btn btn-warning btn-large" onclick="$('#inst_show').val(1); document.getElementById('demo').style.display='block'">Show Instructions</button>
    </center>

    <br> <br>

    <div id="demo" style="display:none"> {% include Constants.instructions_template %} </div>

</div>

{% endblock %}
