{% extends "two_p2/Style.html" %}
{% load staticfiles otree %}

{% block title %}
    <h2 id="bold">Task 1: Report.</h2>
{% endblock %}

{% block content %}

<div>
    <p>
        The image illustrates the order in which the players send messages reporting on the <b id="hidden"> hidden number </b>.
        <br><br>

        <div class="center">
            {% if player.treat == 6 %} <!-- FRST -->
                    <img width="400" height="150" src="{% static "two_p1/T6_Img_Sequence_FRST_2.png" %}"/>

            {% elif player.treat == 7 %} <!-- NO -->
                    <img width="650" height="150" src="{% static "two_p1/T7_Img_Sequence_NO_2.png" %}"/>

            {% elif player.treat == 8 %} <!-- EXO -->
                    <img width="650" height="150" src="{% static "two_p1/T8_Img_Sequence_EXO_2.png" %}"/>

            {% elif player.treat == 9 %} <!-- ENDO -->
                    <img width="650" height="150" src="{% static "two_p1/T9_Img_Sequence_ENDO_2.png" %}"/>

            {% else %} <!-- VCTM -->
                    <img width="650" height="150" src="{% static "two_p1/T10_Img_Sequence_VCTM_2.png" %}"/>

            {% endif %} <!-- -->
        </div>

        <br>

        You are <b id="large">P3</b>. The number below was the message sent by P1 reporting on the <b id="hidden"> hidden number </b> that was drawn.

        <br>

        <div class="center">
            <b id="big">{{ player.report_1 }}</b>
        </div>
    </p>
</div>
<div>

    <br><br>

    You can see the <b id="hidden"> hidden number </b> P1 drew by clicking on the show button or proceed to send the final message by clicking on continue:

    <br><br>

    <center>
    <button name="endo_click" value="True" class="btn btn-info btn-large">Show the hidden number</button>

    <br><br>

    <button name="endo_click" value="False" class="btn btn-primary btn-large">Continue</button>
    </center>

</div>

{% endblock %}
